.create-contribution-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.create-contribution-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.contribution-link {
    color: #4c00b4;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    /* Loại bỏ gạch chân */
    margin-top: 20px;
}

.contribution-link:hover {
    text-decoration: underline;
    /* Gạch chân khi rê chuột qua */
}